/* general styles */
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #191d28;
    position: relative;
}
p{
    line-height: 1.5rem;
    font-weight: 300;
} 
ul,
li,
a{
    text-decoration: none;
    list-style-type: none;
}
section,
header{
    padding:0 6.25rem ;
}
section:not(#hero){ 
    padding: var(--section-gutters);
    padding-bottom: 0;
}
.img-fluid{
    width: 100%;
}
.boxed{
    max-width: 1400px;
    margin: 0 auto;
}
:root{
    --primary:#F05E23;  
    --secondary: #2D3850;
    --light: #e5e5e5;
    --section-gutters: 6.25rem;
}
.text_primary{
    color: var(--primary);
}
.text_light{
    color: var(--light);
    opacity: .8;
}
.text_caption{
    font-size: 1.94444em;
    line-height: 1.8rem;
    font-weight: bold;
}
.text_small{
    font-size: 0.888888em;
    line-height: 1.25em;
}
.text_large{
    font-size: 1.666667em;
    line-height: 1.16666667em;
}
.hero-text{
    font-weight: bold;
    font-size: 2.77777777em;
    line-height: 1.22em;
}
/* overlay styling */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999999999999;
    display: flex;
}
.overlay .layer{
    background-color: #3d3331;
}
.overlay .layer-1,
.overlay .layer-2,
.overlay .layer-3{
    flex: 1;
}
/* nav styles */
header{
    background-color: #191d28;
}
.navbar-brand{
    font-size: 1.875rem;
    line-height: 2.6875rem;
    font-weight: 800;
    color: var(--primary) !important;
}
a.nav-link{
    font-size: 1.125rem;
    font-weight: 300;
    color: #fff !important;
    line-height: 1.375rem;
}
#header .active{
    color: var(--primary) !important;
}
.nav-open{
    position: fixed;
    z-index: 999;
    /* opacity: 0; */
    /* pointer-events: none; */
    /* transition: all 1s ease; */
    transform: scale(0);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #191d28;
}
.close-btn{
    opacity: 0;
    font-size: 2rem;
    color: var(--primary);
}
/* button style */
.btn_primary{
    position: relative;
    background-color: var(--primary);
    color: #fff;
    padding: 0.9em 1.675em ;
    border-radius: 0;
}
/* button hover effect */
.btn_primary{
    border:1px solid transparent; 
     -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1),
                background-color 0.7s cubic-bezier(.5, .24, 0, 1) ;
  }
  .btn_primary::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom:0px;
    z-index:-1;
    width: 0%;
    height:1px;
    background: var(--primary);
    box-shadow: inset 0px 0px 0px var(--primary);
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }
  .btn_primary:hover::before {
    width:100%;
  }
  
  .btn_primary::after {
    content: '';
    position: absolute;
    right: 0px;
    top:0px;
    z-index:-1;
    width: 0%;
    height:1px;
    background: var(--primary);
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }
  .btn_primary:hover::after {
    width:100%;
  }
  .btn_primary:hover{
    background-color: transparent;
    color: var(--primary);
    border-left:1px solid var(--primary);
    border-right:1px solid var(--primary);
  }
  .btn_primary:focus{
      box-shadow: none;
  }
  .top-button{
      position: fixed;
      z-index: 99;
      right: 1.5rem;
      bottom: 1rem;
      padding: 1rem 1.3rem;
      border-radius: 50%;
      background-color: var(--primary);
      opacity: .8;
      color: #fff;
      cursor: pointer;
  }
  /* *********** */

.bg_primary{
    background-color: var(--primary);
}
.card{
    background-color: transparent;
    border-color: var(--primary);
    width: 21rem;
}
.card-subtitle{
    font-weight: 300;
}
/* about section styles */
#about img{
    height: 100%;
    object-fit: cover;
    object-position: left;
}
/* progress animation */
/* .design{
    animation: design 2s;
}
@keyframes design {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
.web{
    animation: web 2s
}
@keyframes web{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
} */
/* service styles */
#service .card{
    cursor: pointer;
}
#service .card-title{
    font-weight: 600;
    font-size: 1.11111em;
    line-height: 1.2em;
}
#service .card-text{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2222em;
}
#service .card {
    /* display: block; */
    position: relative;
    /* max-width: 262px; */
    /* background-color: #f2f8f9; */
    /* border-radius: 4px; */
    /* padding: 32px 24px; */
    /* margin: 12px; */
    /* text-decoration: none; */
    z-index: 0;
    overflow: hidden;
} 
#service .card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--primary);
    height: 2em;
    width:2em;
    /* border-radius: 2em; */
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: all 0.5s ease-out;
}
#service .card:hover:before {
    transform: scale(30);
}

/* project section styles */
.gallery .card{
    border: none;
    overflow: hidden;
    cursor: pointer;
}
.gallery .card:hover .card-img-top{
     transform: translate3d(0, 0, 0) scale(1.1, 1.1);
    filter: grayscale(1);
}
.gallery .card-img-top{
    /* transform: translate3d(0, -20px, 0); */
    transition: transform .35s;
}
.choices li{
    transition: all 0.25s ease-in;
    cursor: pointer;
}
.choices li a{
    color: #fff;
    transition: all 0.25s ease-in;
    transform: scale(1);
}
.choices li a:hover{
    color: var(--primary);
    text-decoration: none;
    /* transform: scale(1.5); */
}
.choices li a.active{
    color: var(--primary);
}
.choices li:hover{
    transform: scale(1.2) translateY(-3px);
}
.completed .wrapper{
    background-color: var(--secondary);
    padding: 4rem 0;
}
.completed h4{
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.222222em;
}

/* testimonial section styles */
#testimonial .carousel{
    cursor: grab;
}
#testimonial .card{
    background-color: var(--secondary);
    border: none;
    /* width: 18rem; */
    width: 100%;
}
#testimonial time{
    font-weight: 300;
}
.swiper-slide{
    display: flex;
    align-items: center;
}
.swiper-pagination-bullet-active{
    background-color: var(--primary);
}
.swiper-pagination-bullet{
    border: 1em solid #F05E23;
}
/* expereince section styles */
#experience .text-block{
    background-color: var(--primary);
}
.text-block p{
    font-size: 1.33333em;
    line-height: 1.208em;
}

/* contact section styles */
.contact_info .text_caption{
    font-weight: normal;
}
.form-group{
    margin-bottom: 1.5rem;
}
.form-control{
    background-color: var(--secondary);
    color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 1.3em;
    height: 3.5rem;
    line-height: 1.208em;
    padding: 0.719em 1.25em;
    border-radius: 0;
}
.form-control:focus{
    background-color: var(--secondary);
    color: var(--light);
}
#contact .social span{
    cursor: pointer;
}
#contact a:hover{
    opacity: .8;
    text-decoration: none;
    color: var(--primary);
}
/* footer styles */
footer{
    padding-top: var(--section-gutters) ;
}
hr{
    border-top: 1px solid rgba(229, 229, 229, 0.2)
}
    